<div>
  <div class="form-field">
    <%= f.label :ebook_id, "Ebook", class: "form-label" %>
    <%= f.collection_select :ebook_id, @ebooks, :id, :title, {}, class: "form-input" %>
  </div>

  <div class="flex justify-end">
    <%= link_to "Remove",
        "#",
        class: "text-red-600 text-sm font-medium hover:text-red-700 hover:underline",
        data: { action: "remove-item" } %>
  </div>
</div>