<%= form_with(model: ebook_metric) do |form| %>
  <% if ebook_metric.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ebook_metric.errors.count, "error") %> prohibited this ebook_metric from being saved:</h2>

      <ul>
        <% ebook_metric.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
