<% content_for :title, "Editing ebook metric" %>

<h1>Editing ebook metric</h1>

<%= render "form", ebook_metric: @ebook_metric %>

<br>

<div>
  <%= link_to "Show this ebook metric", @ebook_metric %> |
  <%= link_to "Back to ebook metrics", admin_ebook_metrics_path %>
</div>
