<p style="color: green"><%= notice %></p>

<% content_for :title, "Ebook metrics" %>

<h1>Ebook metrics</h1>

<div id="ebook_metrics">
  <% @ebook_metrics.each do |ebook_metric| %>
    <%= render ebook_metric %>
    <p>
      <%= link_to "Show this ebook metric", ebook_metric %>
    </p>
  <% end %>
</div>

<%= link_to "New ebook metric", new_admin_ebook_metric_path %>
