name: Ruby
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Set up database
        run: |
          bin/rails db:create db:schema:load RAILS_ENV=test

      - name: Precompile assets
        run: bin/rails assets:precompile RAILS_ENV=test

      - name: Run RSpec tests with SimpleCov
        run: bundle exec rspec --format documentation --format RspecJunitFormatter --out tmp/rspec/rspec.xml

      - name: Upload RSpec test results
        uses: actions/upload-artifact@v4
        with:
          name: rspec-results
          path: tmp/rspec/rspec.xml

      - name: Upload SimpleCov coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/

      - name: Run RuboCop
        run: bundle exec rubocop --display-cop-names --format simple